body {
    font-family: 'Dekko';
    font-size: 22px;
    background-image: url("../images/pokeball.png");
    background-size: 150px;
}

img {
    max-width: 90%;
    max-height: 90%;
}

header {
    text-align: center;
    margin: 10px auto 10px;
    width: 45%;
    height: 100px;
    background-color: teal;
    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
}

#pikachu {
    margin: 0 auto;
    max-width: 50%;
    max-height: 50%;
}

#container {
    width: 960px;
    height: 500px;
    margin: auto;
    text-align: center;
    background-color: lightcoral;
    border-style: solid;
    border-radius: 8px;
    border-width: 4px;
}

button {
    position: fixed;
    left: 50%;
    top: 50%;
}

#question-space {
    height: 80px;
    padding: 15px;
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
}

#timer-space {
    height: 70px;
    text-align: center;
}

#answer-space {
    height: 300px;
    text-align: center;
}

#question-box {
    position: relative;
    bottom: -70px;
    width: 400px;
    height: 30px;
    font-size: 28px;
    text-align: center;
    color: #39eeee;
    margin: 5px auto;
}

#question-box:hover {
    font-weight: bold;
    color: red;
}